.form-oauth2 button.discord {
    background: #7289DA;
}
.form-oauth2 button.discord:hover {
    background: #687DC7;
}

.form-oauth2 button.slack {
    background: #56B68B;
}
.form-oauth2 button.slack:hover {
    background: #3D9D72;
}

.form-oauth2 button.jira {
    background: #0747A6;
}
.form-oauth2 button.jira:hover {
    background: #095cd7;
}

.form-oauth2 button.gitlab {
    background: #fc6c26;
}
.form-oauth2 button.gitlab:hover {
     background: #E3530D;
}

.form-oauth2 button.twitch {
    background: #6440A4;
}
.form-oauth2 button.twitch:hover {
    background: #55368B;
}

.form-oauth2 button.azure {
    background: #2F2F2F;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-weight: 600;
}

.form-oauth2 button.patreon {
    background: #002C49;
}
.form-oauth2 button.patreon:hover {
    background: #004674;
}

